# Web Framework
fastapi==0.104.1
uvicorn[standard]==0.24.0

# HTTP client
requests==2.31.0
httpx==0.24.1   # nếu bạn cần async client

# Config & Env
python-dotenv==1.0.0

# Data validation & settings
pydantic==2.5.1
pydantic-settings==2.0.3